:root {
    /* colors from logo */
    --light-yellow: #FFF200;
    --dark-yellow: #FFBE00;
    --light-gray: #414042;
    --dark-gray: #231F20;

    /* other colors */
    --gray-blue: #2c3e50;
    --background-gray: #888484;
}

* {
    font-family: 'Monaco', monospace;
}

.input-error {
    background-color: lightcoral;
}

.error-message {
    color: lightcoral;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loading-indicator {
    /* Add styling for your loading indicator */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.search-bar {
    display: flex;
    align-items: center;
}
  
.search-bar input {
   margin-right: 10px;
   align-items: center;
   border: 2px solid var(--dark-yellow);
   border-radius: 4px;
   height: 30px;
   background-color: var(--gray-blue);
   padding-left: 5px;
   color: white;
}


.search-button{
    height: 30px;
    border-radius: 4px;
    border: 2px solid var(--dark-yellow);
    background-color: var(--dark-yellow);
    cursor: pointer;
}

h1 {
    justify-content: center;
    vertical-align: center;
    margin-top: 50px;
}

h3 {
    position: relative;
    margin-left: 60px;
    color: white;
}

h4 {
    justify-content: center;
    vertical-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: darkblue;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

a:visited{
    color: skyblue;
}


.box {
    min-height: 100px;
    min-width: 200px;
    margin: 25px;
    border: 2px solid var(--dark-gray);
    border-radius: 10%;
    display: inline;
    place-content: center;
    position: relative;
    background-color: gray;
    margin-top: 40px;
}

.container {
    text-align: center;
    justify-content: center;
    width: 100%;
}


.details {
    display: inline;
}

.navbar {
    background-color: var(--gray-blue);
    padding: 20px;
    margin-bottom: 20px;
    width: 99%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    padding: 10px; 
    align-items: center; 
}

img {
    margin-right: 50px;
    width: 50px;
    height: 50px;
    position:absolute;
}

.parent-container {
    display: flex;
    flex-wrap: wrap; /* Allow components to wrap to the next line */
    align-items: center;
    gap: 10px;
}

.register button {
    width: 320px;
    height: 40px;
    border: 3px solid skyblue;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.register input {
    width: 300px;
    height: 40px;
    padding-left: 20px;
    display: block;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid skyblue;
    border-radius: 4px;
}

.removeResult{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.removeResult:hover {
    background-color: red;
    border-radius: 25%;
    color: White;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--gray-blue);
    width: 100%;
    overflow-x: hidden;
    margin-top: 60px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}
.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table button {
    color: var(--gray-blue);
    border: 2px solid var(--gray-blue);
    border-radius: 4px;
    background-color: transparent;
}

.table button:hover {
    border: 2px solid maroon;
    color: maroon;
}